{% extends 'base.html' %}

{% block head %}
<title>Edit Wall Post</title>
{% endblock %}

{% block body %}
<h1>Edit Post</h1>

<hr>
<h2>Edit</h2>

<form action="/posts/edit/{{ post_edit.id }}", method='POST'>
        <label for="title">Title:</label>
        <input class="form-control" type="text" name="title" id="title" value="{{ post_edit.title }}" aria-label="Enter Title">
        <br>
        <label for="auth">Author:</label>
        <input class="form-control" type="text" name="auth" id="auth" value="{{ post_edit.author }}" aria-label="Enter Author">
        <br>
        <label for="content">Post:</label>
        <textarea class="form-control" name="content" id="content" aria-label="What do you want to write" rows="3">{{ post_edit.content }}</textarea>
        <br>

        <input type="submit" value="Save">
    </form>
    <hr>


{% endblock %}
