{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
    <h1>Wall Post</h1>
    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>Welcome To Blog Posting</h1>
                <p>Hello, and Welcome to the my blog posting website. You can put all kind of tutorial or help or your experiance with interview, life etc. Motive, of this blog posting website is show that more and more people can know about what they are interested in.</p>
                <p>Primary focus is on computer and tech related things, but you can share other things as well like about automobiles etc.</p>
                <p>Checkout my github page at <a href="https://github.com/coolabhays">coolabhays</a> to see what tools and software and scripts I use in my daily work</p>
                <p>
                    <a class="btn btn-primary" href="/posts" role="button">Visit Wall Post »</a>
                </p>
            </div>
        </div>
    </main>
{% endblock %}
