{% extends 'base.html' %}

{% block head %}
<title>Posts</title>
{% endblock %}

{% block body %}
<br>
<br>
<div>
    <h1 style="display:inline">All posts on Wall Post</h1>
    <a style="display:inline" class="btn btn-success float-right" href="/posts/new"> + New Post</a>
</div>
<hr>

<br>
<!-- posts is from app.py -->
    {% for post in posts %}
        <br>
        <br>
        <h2>{{ post.title }}</h2>
        {% if post.author %}
        <small>Written by {{ post.author }} on {{ post.date_posted }}</small>
        {% else %}
            <h3>By: N/A</h3>
        {% endif %}
        <!-- add some logic to show last_edit -->
        {% if post.date_posted != post.last_edit %}
            <br>
            LastEdit:<i> {{ post.last_edit }}</i>
        {% endif %}
        <p><br></p>
        <p style="white-space:pre-wrap">{{ post.content }}</p>
        <br>
        <a class="btn btn-danger" href='/posts/edit/{{ post.id }}'>Edit</a>
        <a class="btn btn-primary" href='/posts/delete/{{ post.id }}'>Delete</a>
        <hr>
    {% endfor %}

{% endblock %}
