body {
	background: linear-gradient(to left, #53bdfa, #91b362);
}
.main-container {
	margin-top: 100px;
	position: relative;
}
#d1 {
	/* background-color: cyan; */
	position: absolute;
	top: 75px;
	left: 175px;
	height: 600px;
	width: 1000px;
}
.fade-out {
	animation-name: fade_out;
	animation-duration: 1s;
}

#d2 {
	background-color: rgb(38, 38, 38, 0.2);
	position: absolute;
	top: 0;
	width: 40px;
	height: 563px;
}
#d3 {
	background-color: rgb(38, 38, 38, 0.2);
	position: absolute;
	top: 0;
	left: 960px;
	width: 40px;
	height: 563px;
}

img {
	max-width: 100%;
	max-height: 100%;
}

button {
	position: relative;
	color: orange;
	text-align: center;
	top: 275px;
	left: 0px;
	font-size: 50px;
	border: none;
	background-color: rgb(38, 38, 38, 0.2);
}
.fcol {
	animation-name: to_white;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.scol {
	animation-name: to_gray;
	animation-duration: 0.5s;
	animation-fill-mode: backwards;
}

/* // keyframes // */
@keyframes to_white {
	0% {
		background-color: rgb(38, 38, 38, 0.2);
	}
	100% {
		background: linear-gradient(to bottom, rgb(104, 104, 104, 0.4), rgb(199, 199, 199, 0.4), rgb(104, 104, 104, 0.4));
	}
}
@keyframes to_gray {
	0% {
		background: linear-gradient(to bottom, rgb(104, 104, 104, 0.4), rgb(199, 199, 199, 0.4), rgb(104, 104, 104, 0.4));
	}
	100% {
		background-color: rgb(38, 38, 38, 0.2);
	}
}
@keyframes fade_out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
