* {
	box-sizing: border-box;
}

/* container slideshow */
.slidecontainer {
	max-width: 600px;
	position: relative;
	margin: auto;
}

/* hide images by default */
/* .showSlide { */
/* 	display: none; */
/* } */

/* buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: grey;
	font-weight: bold;
	font-size: 25px;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.captiontxt {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.dots {
	text-align:center;
}

/* fading */
.getfade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}

@-webkit-keyframes getfade {
	from {opacity: .4}
	to {opacity: 1}
}

@keyframes getfade {
	from {opacity: .4}
	to {opacity: 1}
}
