build-GuiDemo-Desktop_Qt_6_2_3_GCC_64bit-Debug/
build-GuiTemp-Desktop_Qt_6_2_3_GCC_64bit-Debug/
build-MyProgress-Desktop_Qt_6_2_3_GCC_64bit-Debug/
build-MyWindows-Desktop-Debug/
build-MyWindows-Desktop_Qt_6_2_3_GCC_64bit-Debug/
build-gui-Desktop-Debug/
build-hello-Desktop-Debug/
build-hello-Desktop-MinSizeRel/
